header {
	display: block;
	margin : 0 auto;
	padding : 20px;
}

header .logoRestaurant {
    display : flex;
	justify-content: space-between;
    flex-direction : row;
    align-items: center;
    width : 100%;
    margin : 0 auto;
    background-color: white;
    text-align: center;
}

header .logoRestaurant h1 {
	margin : 0 auto;
	width : 50%;
	font-family: 'Shrikhand';
	font-size : 32px;
}