.loaderContainer {
    position: relative;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    animation: disappear 2s;
    animation-fill-mode: forwards;

    .cover {
        position : fixed;
        top : 0;
        left : 0;
        width : 100%;
        height : 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index : 999;
    }
    
    .loader {
        z-index: 1000;
        width: 100px;
        height: 100px;
        position: absolute;
        top : 50%;
        left : 50%;
        animation-name: loading;
        animation-duration: 1s;
        animation-iteration-count: 3s;
        animation-timing-function: linear;
        border-radius: 50%;
        border-top: 5px dotted var(--secondary);
        border-left: 5px dotted var(--secondary);
    }   
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}