.logoRestaurant {
    display : flex;
  	justify-content: space-between;
    flex-direction : row;
    align-items: center;
    width : 100%;
    margin : 0 auto;
    background-color: white;
    text-align: center;
    
    h1 {
      margin : 0 auto;
      width : 50%;
      font-family: 'Shrikhand';
      font-size : 32px;
    }    
}

/*
IIII
I    I
I    I
I    I
I    I
I    I
IIII
*/

.RestaurantDisplay {
  position : relative;
  z-index: 99;
  margin-bottom: 725px;
}

img {
  z-index: 50;
  width : 100%;
}

.Order {
  background-color: rgb(234, 234, 234);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position : absolute;
  top : 50%;
  right : 0;
  bottom : 0;
  left : 0;
  height : 900px;
  padding-top: 20px;
  width : 100%;
}

.RestaurantMenu {
    z-index: 10;
}

.restaurantTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width : 90%;
    position : relative;

    h1 {
      font-family: 'Shrikhand';
      font-weight: lighter;
      z-index: 15;
      padding-top: 20px;
      padding-left : 20px;
    }
    
    .Like {
      position : absolute;
      bottom : 0;
      right : 0;
    
      i {
        -webkit-text-stroke: 1px #000000;
          color: rgb(234, 234, 234);
          transition: 1s;
      }
    }
}

.AppetiserList, .DishList, .DessertList {
    display : flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    
    h3 { 
      margin: 10px;
      padding-bottom: 5px;
      border-bottom: solid 2px var(--tertiary);
      box-sizing: content-box;
      width : 10%;
    }
}

.ListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width : 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    position: relative;
    cursor : pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
    
    .DescriptionText {
        transition : 1s;
    }
    
    .DescriptionPrice {
         position : absolute;
         left : -35px;
         transition : .5s;
    }
    label {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      margin: 0;

      .CheckDiv {
          position: absolute;
          top: 0;
          right: -55px;
          width: 50px;
          height: 100%;
          background-color: var(--tertiary);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          transition: all 0.5s ease;
          padding : 5px 0;
          
          
          i {
            color: white;
            transition: 0.5s ease;
          }
        }
    
        &:hover {
          .CheckDiv {
            right: 0;
    
            i {
              transform: rotate(360deg);
            }
          }
          .DescriptionText {
            h2, p {
              max-width: 50%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    
      input {
        display: none;
    
        &:checked + label .CheckDiv {
          right: 0;
    
          i {
            transform: rotate(360deg);
          }
        }
      }
}

.OrderButton {
  display: flex;
  flex-direction: row;
  justify-content : space-around;
  align-items: center;
  padding : 30px 0;
  
  label {
	  background: linear-gradient(to top, #ff79da, #f272da, #e56cdb, #d767db, #c862dc, #b75ddc, #a659dc, #9356dc);
	  color : white;
	  border-radius: 50px;
	  transition: .3s;
	  padding : 20px;
	  font-size : 18px;
  
    &:hover {
      box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.493);
      color : white;
      background-color: var(--primary);
    }
  }
}